@media only screen and (min-width: 961px) {
  .contents a {
    display: block;
    color:#2DD6D1;
    font-size: 3em;
    font-weight: lighter;
    font-style: italic;
    font-family: "Helvetica", "Arial", sans-serif;
    padding: 1.3em;
    background-color: #DCE8E4;
    border-bottom: 0.05em solid black;
    text-decoration: none;
  }

  .contents a:hover {
    background-color: #19372E;
  }

  .odd-content {
    text-align: left;
  }

  .even-content {
    text-align: right;
  }
}

@media only screen and (max-width: 400px) {
  .contents a {
    display: block;
    color:#2DD6D1;
    font-size: 2.15em;
    font-weight: lighter;
    font-style: italic;
    font-family: "Helvetica", "Arial", sans-serif;
    padding: 1.5em;
    background-color: #DCE8E4;
    border-bottom: 0.05em solid black;
    text-decoration: none;
  }

  .contents a:hover {
    background-color: #19372E;
  }

  .odd-content {
    text-align: left;
  }

  .even-content {
    text-align: right;
  }
}
